html{
    height: 100%;
    width: 100%;
    
}
body {
    /* background-image: linear-gradient(100deg, #d4f1ff, #ffffff); */
    background-image: url("../images/20282258_6206160.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat; 
    color: #1a150e;
    padding: 0%;
    margin: 0%;
    height: 100%;
    width: 100%;
}
.whole{
    width:100%;
    height:100%;
    margin: 0%;
    padding:0%;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
.title{
    color: aliceblue;
}
.container {
    height: 17%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}
.container form{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container input{
    height:23%;
    width:30%;
    font-size: 16px;
    border: none;
    padding-left: 1%;
    background-color: #f0f4f8;
    color: #1a150e;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

.container input:focus{
    background-color: white;
}
.button{
    border:none;
    background-color: #413F64;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    height:24%;
    width:4%;
    padding: 10px;
    font-size: 17px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}    

.button:hover{
    background-color:#363553;
}
.tasks{
    height:50%;
    width: 70%;
    background:transparent;
    border:2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(255, 255, 255, .5) ;
}
.rdbtn{
    display:flex;
    justify-content: center;
    padding-top:1%;
    accent-color: #403E63;
}
.rdbtn label{
    font-size: 25px;
    margin: 0%;
    padding-right: 1%;

}
.showtasks{
    margin-top: 2%;
    height:85%;
    overflow: auto;
}
.showtasks1{
    height:19%;
    padding:0%;
    margin-top:1%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.taskname{
    height:35%;
    width:85%;
    padding:0.5%;
    padding-top: 1%;
    padding-left: 2%;
    margin-left: 1%;
    border-radius: 30px;
    font-size: 20px;
    background-color:white;
}
.buttons{
    width:15%;
    display: flex;
}
.button1{
    border:none;
    background-color: #413F64;
    cursor: pointer;
    /* height:50%;
    width:15%;
    padding: 0.8%;
    margin-left: 1.3%;
    border-radius: 50%; */
    font-size: 19px;
    cursor: pointer;
    width: 50%;
    height: 2em;
    border-radius: 80%;
    margin: 0 5px;
    
}
.checkbtn, .deletebtn , .editbtn {
   width:50%;
   height: 100%;
   object-fit: contain;
}

.button1:hover{
    background-color:#363553;
}

@media screen and (max-width:425px){
    .rdbtn label{
        font-size: 21px;
    }
    .container input{
        width:50%;
    }
    .button{
        width:23%;
    }
    .buttons{
        width:50%;
        padding-left: 2%;
    }
    .button1{
        font-size:13px;
        width:30%;
        margin: 1%;
        padding: 2%;
    }
    .taskname{
        width:80%;
        text-overflow:ellipsis;
        overflow: hidden;
    }
    .tasks{
        width:90%;
    }
    .checkbtn, .deletebtn , .editbtn {
        width:50%;
        object-fit: contain;
}
}
@media screen and (min-width:426px) and (max-width:768px){
    .rdbtn label{
        font-size: 21px;
    }
    .button{
        width:20%;
    }
    .buttons{
        width:40%;
        padding-left: 2%;
    }
    .button1{
        width:30%;
    }
    .taskname{
        width:60%;
        text-overflow:ellipsis;
        overflow: hidden;
    }
    .checkbtn, .deletebtn , .editbtn {
        width:51%;
        object-fit: contain;
}
}
@media screen and (min-width:769px) and (max-width:1123px){
    .rdbtn label{
        font-size: 21px;
    }
    .button{
        width:20%;
    }
    .buttons{
        width:40%;
        padding-left: 2%;
    }
    .button1{
        width:23%;
    }
    .taskname{
        width:65%;
        text-overflow:ellipsis;
        overflow: hidden;
    }
    .checkbtn, .deletebtn , .editbtn {
        width:40%;
        object-fit: contain;
}
}